<div class="container mt-5">
  <div class="d-flex flex-row justify-content-around">
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../shield.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Security first</h5>
        <p class="card-text">
          It is fast and secure, our service have HTTPS protocol and data
          encryption.
        </p>
      </div>
    </div>
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../link.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Shortened</h5>
        <p class="card-text">
          Use any link, no matter what size, we will take care of shortening it.
        </p>
      </div>
    </div>
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../finger-snap.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Effortless</h5>
        <p class="card-text">
          The Shrinker is easy and fast, enter the long link and get your
          shortened link whitin seconds.
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../reliability.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Reliable</h5>
        <p class="card-text">
          All links that try to disseminate spam, viruses and malware are
          deleted.
        </p>
      </div>
    </div>
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../stats.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Statistics</h5>
        <p class="card-text">
          After shortening your link, you are able to check the number of times
          it was clicked.
        </p>
      </div>
    </div>
    <div class="card border-none mb-3 shadow-lg" style="max-width: 18rem">
      <div class="card-header d-flex">
        <img
          src="../device.png"
          alt="alt"
          class="img-fluid mx-auto"
          width="80"
          height="80"
          loading="lazy"
        />
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">Responsible</h5>
        <p class="card-text">
          Compatible with smartphones, tablets, laptops and desktop.
        </p>
      </div>
    </div>
  </div>
</div>
