<form action="/shortUrls" method="post" class="my-5 from-inline" id="form">
  <h1 class="text-3xl fw-bold underline mb-3">
    Paste your URL and wait a second
  </h1>
  <label for="fullUrl" class="visually-hidden">Url</label>
  <input
    placeholder="Enter your URL here"
    type="url"
    name="fullUrl"
    id="fullUrl"
    class="form-control w-50"
    required
  />
  <button
    type="submit"
    class="btn btn-secondary mt-2"
    style="background-color: #00c23f; border: none"
  >
    Shorten URL
  </button>
</form>
