<div class="px-4 pt-5 mb-5 text-center border-bottom">
  <h1 class="display-4 fw-bold">Welcome to The Shrinker</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      The Shrinker allows you to reduce long links from Instagram, Facebook,
      YouTube, Twitter, LinkedIn and top sites on the Internet. It's very fast
      and simple, just paste the long URL and click the Shorten URL button. Wait
      a few seconds and your shortened URL will be ready to be copied and
      shared. After shortening the URL, check how many clicks it received.
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button
        type="button"
        class="btn btn-primary btn-lg px-4 me-sm-3"
        style="background-color: #00c23f; border: none"
      >
        <a href="#form" style="color: inherit; text-decoration: inherit"
          >Say less</a
        >
      </button>
    </div>
  </div>
  <div class="container px-5 mb-5">
    <img
      src="../shrink.svg"
      alt="alt"
      class="img-fluid mb-5"
      width="320"
      height="320"
      loading="lazy"
      style="transform: rotate(90deg)"
    />
  </div>
</div>
