<nav class="navbar navbar-light border-bottom">
  <div class="navbar-brand mx-auto">
    <p style="font-size: 22px;"> The Shrinker      
      <img
        src="../axe.svg"
        width="25"
        height="25"
        class="d-inline-block"
        alt="logo"
        style="transform: rotate(20deg)"
      /></p>
    </a>
  </div>
</nav>
